<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CpPrint.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <CpPrint.Settings>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="userPass" serializeAs="String">
                <value />
            </setting>
            <setting name="isContainOld" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="beforenum" serializeAs="String">
                <value />
            </setting>
            <setting name="moneystr" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_monitor" serializeAs="String">
                <value />
            </setting>
            <setting name="url" serializeAs="String">
                <value />
            </setting>
            <setting name="plan_ParseCount" serializeAs="String">
                <value />
            </setting>
            <setting name="plan_TypeName" serializeAs="String">
                <value />
            </setting>
            <setting name="rate_big" serializeAs="String">
                <value />
            </setting>
            <setting name="rate_position" serializeAs="String">
                <value />
            </setting>
            <setting name="max_money" serializeAs="String">
                <value />
            </setting>
            <setting name="min_money" serializeAs="String">
                <value />
            </setting>
            <setting name="intPtrClass" serializeAs="String">
                <value />
            </setting>
            <setting name="intPtrMainClass" serializeAs="String">
                <value />
            </setting>
        </CpPrint.Settings>
    </userSettings>
</configuration>
